<h1>New Customer</h1>

<ul class="nav nav-pills" role="tablist">
  <li><%= link_to 'View Customers', customers_path %></li>
  <li class="active"><%= link_to 'New Customer', new_customer_path %></li>
</ul>

<br />

<p><font color=red>*</font><i><font color=blue>Require Fields : </font>First name, Last name, Zip,  Url</i></p>

<br />

<%= render 'form', customer: @customer %>
