<footer class="footer">
  <small>
    The <a href="http://powersweb.com">Internet Avenues LLC</a>
    by <a href=" ">Henry Jackson</a>
  </small>
  <nav>
    <ul>
      <!--<li><a href=" ">News</a></li>-->
    </ul>
  </nav>
</footer>
